.baby_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/baby.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.young_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/young.jpeg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.adult_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/adult.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.senior_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/old.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.small_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/small.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.medium_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/medium.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.lg_size_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/large.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.extra_lg_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/extra large.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.boy_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/boy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.girl_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/girl.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_kids_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/good with kid.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_dogs_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/good with dog.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_cats_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/good with cat.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.house_trained_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/house trained.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}

.special_needs_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/speical needs.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.short_coat_length_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/short haired.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}

.long_coat_length_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/long haired.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.agouti_color_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/agouti.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.black_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/black.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.black_white_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/black and white.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.brindle_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/brindle.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.brown_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/brown.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.brown_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/brown.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.gray_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/gray.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.gray_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/gray.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.pink_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/pink.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.red_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/red.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.roan_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/roan.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.spotted_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/spotted.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tan_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/tan.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.white_barn_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Colors/white.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}

.alpaca_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/alpaca.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.cow_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/cow.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.goat_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/goat.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.llama_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/llama.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.pig_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/pig.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.pot_bellied_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/pot bellied.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.sheep_btn{
      width:220px;
      height: 220px;
      background-image: url("Barn Images/sheep.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}



