.kitten_btn{

      background-image: url("Cat_Images/kitten.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.young_btn{

      background-image: url("Cat_Images/young.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.adult_btn{

      background-image: url("Cat_Images/adult.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.senior_btn{

      background-image: url("Cat_Images/senior.jpg");
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.small_btn{

      background-image: url("Cat_Images/short.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.medium_btn{

      background-image: url("Cat_Images/medium.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.lg_size_btn{

      background-image: url("Cat_Images/large.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.extra_lg_btn{

      background-image: url("Cat_Images/extra-large.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.boy_btn{

      background-image: url("Cat_Images/male_cat.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.girl_btn{

      background-image: url("Cat_Images/girl_cat.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_kids_btn{

      background-image: url("Cat_Images/good_with_kids_cat.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_dogs_btn{

      background-image: url("Cat_Images/good with dogs.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_cats_btn{

      background-image: url("Cat_Images/cat with cat.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.house_trained_btn{

      background-image: url("Cat_Images/house trained.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.declawed_btn{

      background-image: url("Cat_Images/declawed.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.special_needs_btn{

      background-image: url("Cat_Images/special_needs_cat.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.hairless_coat_legnth_btn{

      background-image: url("Cat_Images/hairless.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.short_coat_length_btn{

      background-image: url("Cat_Images/short.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.medium_coat_length_btn{

      background-image: url("Cat_Images/medium_hair_cat.jpg");

      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.long_coat_length_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Images/long_hair_cat.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.black_color_cat_btn{
      width:320px;
      height: 320px;
      background-image: url("Cat_Colors/black.jfif");
      background-size: 200px 200px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tuxedo_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tuxedo.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.blue_cream_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/blue cream.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.blue_ptn_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/blue point.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.brown_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/brown.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.buff_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/buff.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tan_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tan.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.calico_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/calico.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.chocolate_point_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/chocolate point.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.cream_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/cream.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.cream_ptn_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/cream point.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.dilute_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/dilute.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tortoise_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tortoise.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.flame_ptn_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/flame point.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.gray_white_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/gray white.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.gray_blue_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/gray blue.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.lilac_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/lilac.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.orange_whtie_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/orange white.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.orange_red_color_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/orange red.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.seal_ptn_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/seal point.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.smoke_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/smoke.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tabby_brown_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tabby brown.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tabby_buff_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tabby buff.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tabby_gray_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tabby gray.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tabby_spotted_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tabby spotted.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tabby_orange_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tabby orange.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tabby_tiger_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tabby tiger.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.torbie_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/torbie.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tor_shell_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/tortoishell.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.white_cat_btn{
      width:220px;
      height: 220px;
      background-image: url("Cat_Colors/white.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}






