.baby_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/baby.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.young_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/young.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.adult_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/adult.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.senior_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/old.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.small_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/small.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.medium_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/medium.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.lg_size_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/large.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.extra_lg_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/extra large.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.boy_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/boy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.girl_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/girl.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_kids_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/goo with kids.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_dogs_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/good with dog.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.good_with_cats_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/good with cat.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.house_trained_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/house trained.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}

.special_needs_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/special needs.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.hairless_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/hairless.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.short_coat_length_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/short haired.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.long_coat_length_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/long haired.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}

.agouti_color_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.albino_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.black_color_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.black_sable_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.blue_gray_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.brown_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.calico_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.champagne_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.cinnamon_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.cream_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.orange_red_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.sable_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tan_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.tortoiseshell_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.white_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.white_dark_furry_btn{
      width:220px;
      height: 220px;
      background-image: url("Dogs_Images/puppy.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}


.chinchilla_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/chinchilla.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.degu_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/degu.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.ferret_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/ferett.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.gerbil_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/gerbil.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.guinea_pig_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/guinea pig.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.hamster_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/hamster.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.hedgehog_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/hedgehog.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.mouse_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/mouse.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.prairie_dog_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/prarie dog.jfif");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.rat_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/rat.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.skunk_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/skunk.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}
.sugar_glider_btn{
      width:220px;
      height: 220px;
      background-image: url("Furry Images/sugar glider.jpg");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      padding-left:41px;
      background-position: center bottom;
}

