<div class="wrapper">
    <h1>Petfinder App</h1>
    <div class="searches">
        <form>
        <ul class="search-items">
            
            <li>
                <label for="breed">Breed:</label>
                <input type="text" name="breed">
            </li>
            <!--Age-->
            <li>
                <label for="age">Age:</label>
                <select name="age">
                    <option value="young">Young</option>
                    <option value="medium">Medium</option>
                    <option value="old">Old</option>
                </select>
            </li>
            <!--Size-->
            <li>
                Size:
                <input type="checkbox" name="small">
                <label for="small">Small</label>
                <input type="checkbox" name="medium">
                <label for="medium">Medium</label>
                <input type="checkbox" name="large">
                <label for="large">Large</label>
                <input type="checkbox" name="xlarge">
                <label for="xlarge">Extra-Large</label>
            </li>
            <!--Gender-->
            <li>
                Gender:
                <input type="checkbox" name="male">
                <label for="male">Male</label>
                <input type="checkbox" name="female">
                <label for="female">Female</label>
            </li>
            <!--Good With-->
            <li>
                Good With:
                <input type="checkbox" name="kids">
                <label for="kids">Kids</label>
                <input type="checkbox" name="dogs">
                <label for="dogs">Dogs</label>
                <input type="checkbox" name="cats">
                <label for="cats">Cats</label>

            </li>
            <!--Coat Length-->
            <li>
                Coat Length
                <input type="checkbox" name="long">
                <label for="long">Long</label>     
                <input type="checkbox" name="short">
                <label for="short">Short</label>      
             </li>
            <!--Color-->
            <li>
                Color
                <input type="checkbox" name="blonde">
                <label for="blonde">Blonde</label>     
                <input type="checkbox" name="black">
                <label for="black">Black</label>   
            </li>
            <!--Breed-->
            <li>Care + Behavior (?)</li>
            <!--Breed-->
            <li>
                Days on Petfinder
                <input type="radio" name="days">
                <label for="1day">1 Day</label>     
                <input type="radio" name="days">
                <label for="15day">15 Days</label>  
                <input type="radio" name="days">
                <label for="30day">30 Days</label>
            </li> 
            <!--Breed-->
            <li>Shelter or Rescue:
                <input type="checkbox" name="shelter_rescue">
            </li>
        </ul>
        </form>
        <button type="submit">Search</button>
    </div>

    <div class="map">
        ** Insert map here **
    </div>
</div>